.main_image {
    max-width: 50%; /* Устанавливаем максимальную ширину изображения в процентах от родительского контейнера */
    height: auto; /* Автоматически подстраиваем высоту для сохранения пропорций */
    margin-top: 20px; /* Отступ сверху: 20px */
    margin-bottom: 30px; /* Отступ снизу: 20px */
}